[Unit]
Description=Run Lantern short-retention database backup every 6 hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=true
Unit=short-retention-backup.service

[Install]
WantedBy=timers.target
